.authentication-container {
  padding-top: 9.375rem;
}


.navigation-logo {
  height: 13vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem;
  z-index: 10;
  background-color: white;
  position: fixed;

.upper-case {
  text-transform: uppercase;
  font-weight: bold;
}

.navigation-elements {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    margin: 0 0.625rem;
    transition: .3s;
  }
  a:hover {
    color: #2b382b;
  }
}
  .nav-user-settings-container {
    display: flex;
    align-items: center;

.card-icon-container {
  position: relative;

  .merch-icon {
    width: 2.8125rem;
    height: 2.8125rem;
  }
  .icon-count {
    position: absolute;
    bottom: 0.625rem;
    left: 1rem;
    user-select: none;
    color: #55606c;
    font-weight: bold;
  }
}

  }

  .logo {
    height: 6.25rem;
    padding: 0.1rem;
  }
}