.authentication-container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media ( max-width: 480px) {
  .authentication-container {
    padding-top: 13rem;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    width: 350px;
  }
}

@media (min-width:481px) and (max-width: 1024px){
  .authentication-container {
    padding-top: 7rem;
    flex-direction: column;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px){
  .authentication-container {
    gap: 10rem;
    justify-content: center;

  }
}


