.card-dropdown-container {
  position: fixed;
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  justify-content: space-between;
  right: 50px;
  top: 100px;
  border: 2px solid rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  height: 340px;
  width: 250px;
  backdrop-filter: blur(25px) brightness(70%);
  padding: 15px;
  z-index: 5;
  transition: visibility .6s, opacity .3s;
}
.active {
  visibility: visible;
  opacity: 1;

}