.card-dropdown-container {
  position: inherit;
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  justify-content: space-between;
  right: 40px;
  top: 100px;
  border: 2px solid rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  height: 510px;
  width: 405px;
  backdrop-filter: blur(25px) brightness(60%);
  padding: 15px;
  z-index: 5;
  transition: visibility .6s, opacity .3s;
  overflow: scroll;
}
.active {
  visibility: visible;
  opacity: 1;
}
.empty-card-items {
  display: flex;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 190px;
  user-select: none;
  filter: blur(.7px);
  justify-content: center;

}

.card-items {
  height: 410px;
  overflow: scroll;
  border-radius: 6px;
}

.cart-button-container {
  display: flex;
  position: sticky;
  top: 100px;
  justify-content: center;

}

@media ( max-width: 480px) {
  .card-dropdown-container {
    align-self: center;
    top: 190px;
    right: auto;
    height: 490px;
    width: 390px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .card-dropdown-container {
    align-self: center;
    top: 7.5rem;
    right: auto;
    min-height: 250px;
    max-height: 70%;
    min-width: 95%;

    .empty-card-items {
      margin-top: 4rem;
      position: absolute;
      justify-self: center;

    }
    .card-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
