.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  color: darkslategrey;

  h2 {
    margin: 10px 0;
  }
}

.sign-container {
  max-width: 1400px;
  min-width: 800px;
  display: flex;
  justify-content: space-between;
}

@media (min-width:375px) and (max-width: 500px){
  .sign-up-container {
    width: 230px;
    h1 {
      text-align: center;
    }
    h2 {
      text-align: center;
    }
  }
}