
.categories-container {
  background-color: #ffffff;
  padding: 10rem 1.5rem 5rem 1.5rem;
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(2, 1fr);
  min-height: 300vh;

  @media (max-width: 1915px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (max-width: 700px) {
    min-height: 400vh;
  }



  .category-container {
    min-width: 38.75rem;
    background-color: rgba(253, 253, 253, 0.25);
    border-radius: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: rgba(38, 38, 38, 0.8) 0 4px 16px, rgb(218, 218, 218) 0 8px 32px;
    transition: 1s;
    opacity: 0.90;

    &:hover {
      opacity: 1;
    }


    .background-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;


    }
    .phone-media-href {
      cursor: pointer;
    }

    .category-body-container {
      background-color: rgba(201, 201, 201, 0.16);
      padding: 0.2rem;
      border-radius: .3rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: absolute;
      backdrop-filter: blur(10px) brightness(45%);

      @Media (max-width: 700px) {
        min-height: 400px;
      }



    }

    .phone-media-href {
      text-decoration: none;
    }

    h2 {
      color: #ced2ce;
      align-self: center;
      cursor: default;
      user-select: none;
      font-size: 2.5rem;

    }
    @media (max-width: 1900px) {
      h2 {
        font-size: 1rem;
      }
    }


    p {
      color: #ced2ce;
      font-size: .9rem;
      align-self: center;
      cursor: default;
      margin: 1rem 3rem;
      max-width: 31.25rem;
      min-width: 31.25rem;
      user-select: none;
    }

    .entrance-logo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
    .logo-image {
      min-height: 8.75rem; max-height: 9.375rem;
      min-width: 12.5rem; max-width: 13.125rem;
      margin-right: 3rem;
      margin-bottom: 2rem;
      background-size: cover;
      background-position: center;
      filter: grayscale(0.80);
      border: .5rem solid rgba(206, 210, 206, 0.77);
      border-radius: .2rem;
      opacity: .8;
      transition: all 0.4s ease;
      overflow: hidden;
      &:hover {
        filter: grayscale(0.15);
      }


      &:after {
        background: #ffffff;
        content: "";
        height: 260px;
        left: -120px;
        opacity: .6;
        position: absolute;
        top: -70px;
        transform: rotate(35deg);
        transition: all 1550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 60px;
      }

      &:hover {
        cursor: pointer;
        &:after {
          left: 135%;
        }

      }
    }
  }
}

* {
  font-family: 'Libre Baskerville', serif
}

@media (max-width: 930px) {
  .category-container {
    .logo-image {
      display: none;
    }
    .category-container {
      display: none;
    }

  }
}
@media (min-width: 930px) {
  .phone-media-href {
    pointer-events: none;
  }
}

