.sign-in-container {
  width: 50vw;
  color: darkslategrey;
  h2 {
    text-align: center;
  }
  .sign-in-button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    button:first-child {
      margin-bottom: 10px;
    }
  }

  h2 {
    margin: 10px 0;
  }
}

//@media (min-width:375px) and (max-width: 500px){
//  .sign-in-container {
//    width: 230px;
//    h1 {
//      text-align: center;
//    }
//    h2 {
//      text-align: center;
//    }
//  }
//}

