.user-menu-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;

.user-menu {
  display: flex;
  color: #55606c;
  flex-direction: column;
  align-items: center;
  background-color: rgba(211, 214, 217, 0.1);
  border-radius: 0.3rem;
  padding: 12px;
  overflow: scroll;
  height: 60vh;
  width: 80vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0 10px 10px -12px inset, rgba(0, 0, 0, 0.3) 0 8px 46px -118px inset;


  h2 {
    padding-bottom: 1em;
  }
  h3 {
    padding-bottom: 2em;
  }
  span {
    padding-bottom: 1rem;
  }
  .sign-out-button_container {
    position: absolute;
    bottom: 8vh;
    &:hover {
      color: #97a4af;
    }
  }
}
}

//@media ( max-width: 480px) {
//  .user-menu-container {
//    .user-menu {
//      width: 17rem;
//      margin-top: 15rem;
//
//      h2 {
//        padding-bottom: 0;
//        margin: 0;
//        text-align: center;
//      }
//      h3 {
//        padding-bottom: 0;
//        text-align: center;
//
//      }
//      span {
//        padding-bottom: 0;
//      }
//    }
//  }
//}
//
//@media (min-width:481px) and (max-width: 1024px){
//  .user-menu-container {
//    .user-menu {
//      width: 40rem;
//      margin-top: 8rem;
//
//      h2 {
//        padding-bottom: 0;
//        margin: 0;
//        text-align: center;
//      }
//      h3 {
//        padding-bottom: 0;
//        text-align: center;
//
//      }
//      span {
//        padding-bottom: 0;
//      }
//    }
//  }
//}
