.user-menu {
  display: flex;
  color: #55606c;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgba(211, 214, 217, 0.13);
  background-color: rgba(211, 214, 217, 0.1);
  border-radius: 12px;
  padding: 12px;
  max-width: 800px;
  min-width: 800px;
  margin: 50px auto;
  box-shadow: rgba(38, 38, 38, 0.8) 0 3px 8px, rgb(218, 218, 218) 0 8px 32px;
  animation: anima 4s infinite;

  @keyframes anima {
   50% {box-shadow: rgba(155, 155, 155, 0.25) 0 16px 20px, rgb(218, 218, 218) 0 8px 32px;}
  }

  h2 {
    padding-bottom: 1em;
  }
  h3 {
    padding-bottom: 2em;
  }
  span {
    padding-bottom: 1rem;
  }
  .sign-out {
    text-transform: uppercase;
    font-weight: bold;
    transition: .8s;
    margin: 10px;
    &:hover {
      color: #22282c;
    }
  }
}