.card-item-dropdown {
  position: relative;
  display: flex;
  gap: 3px;
  background-color: rgba(255, 255, 255, 0.06);
  padding: 7px;

  &:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &:last-child {
    margin-bottom: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .quantity-container {
    display: flex;
    align-items: center;
    margin: 3px;

    .increment {
      position: relative;
      width: 35px;
      height: 40px;


      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        place-content: center;
        background-color: rgba(255, 225, 225, 0.1);
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.32);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 3px;
        cursor: pointer;
        font-size: 1.875rem;
        color: white;
        z-index: 1;
        overflow: hidden;
        transition: 0.5s;
        backdrop-filter: blur(15px);

        &:hover {
          font-size: 2.2rem;
          color: black;
        }

        &:hover::before {
          transform: skew(45deg) translateX(200%);
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
          background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
          transform: skew(45deg) translateX(0);
          transition: 0.5s;
          z-index: 1;
        }
      }

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2px;
        width: 10px;
        height: 5px;
        z-index: -1;
        background: #40ff00;
        border-radius: 3px;
        transition: .5s;
      }

      &:hover::before {
        height: 85%;
        width: 85%;
        transition-delay: 0.1s;
      }
    }

    .decrement {
      position: relative;
      width: 35px;
      height: 40px;

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        place-content: center;
        background-color: rgba(255, 225, 225, 0.1);
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.32);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 3px;
        cursor: pointer;
        font-size: 1.875rem;
        color: white;
        z-index: 1;
        overflow: hidden;
        transition: 0.5s;
        backdrop-filter: blur(15px);

        &:hover {
          font-size: 2.2rem;
          color: black;
        }

        &:hover::before {
          transform: skew(45deg) translateX(200%);
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
          background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
          transform: skew(45deg) translateX(0);
          transition: 0.5s;
          z-index: 1;
        }
      }

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2px;
        width: 10px;
        height: 5px;
        z-index: -1;
        background: #ff0000;
        border-radius: 3px;
        transition: .5s;
      }

      &:hover::before {
        height: 85%;
        width: 85%;
        transition-delay: 0.1s;
      }
    }


    span {
      width: 40px;
      text-align: center;
      user-select: none;
      font-weight: bold;
      color: #ffffff;
    }

  }


  img {
    width: 110px;
    height: 75px;
    border-radius: 4px;
    filter: brightness(120%);

  }

  .card-item-attributes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-item-attributes {
      display: flex;
      align-items: center;

      .attribute-price {
        margin-left: 2rem;
      }

    }

    h2 {
      font-size: 18px;
      margin: 0;
      padding: 0;
      color: #e8e8e8;
      text-transform: uppercase;
      user-select: none;
    }
  }

  .card-item-close {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: .1s;

    &:hover {
      background-color: rgb(210, 138, 138);
    }

    &:active {
      background-color: rgba(255, 0, 0, 1);
    }
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .card-item-dropdown {
    &:last-child {
      margin-bottom: 0;
    }
  }
}